@inherits LayoutComponentBase

<div class="page d-flex">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main class="flex-grow-1 d-flex flex-column">
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core">About</a>
        </div>

        <div class="main-content d-flex flex-grow-1 overflow-hidden">
            <article class="content px-4 flex-grow-1 overflow-auto">
                @Body
            </article>
            <OutputConsole/>
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
