@page "/packages"
@using Sharpener.Stratus.Api.Clients
@using Sharpener.Stratus.Blazor.Models
@using Sharpener.Stratus.Blazor.Services
@rendermode InteractiveServer
@inject StratusSettings Settings
@inject PackageClient PackageClient
@inject ConsoleService Console

<PageTitle>Stratus NuGet Packages</PageTitle>

<h1>Stratus Packages</h1>

<div class="content">
    <div class="d-flex">
        <button @onclick="GetPackages">Get Packages</button>
        <span class="ms-2 align-self-center"> Where </span>
        <input class="flex-shrink-1 align-middle ms-2 flex-grow-1" aria-label="Filter" @bind="_where"
               @bind:event="oninput"/>
    </div>
</div>

@code {
    private const string WhereTooltip = "Filter on JSON property values. Example: To filter on two JSON properties: length eq '10' AND description == \"truck\". To get the last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)";
    private string? _where;

    private async Task GetPackages()
    {
        var appKey = Settings.AppKey;
        var outcome = await PackageClient.GetPackages(appKey, options => { options.Where = _where; });
        if (outcome.IsError) return;

        Console.WriteToConsole("Get Packages success", outcome.Value);
    }

}
